<h1>All the Kittens!</h1>

<ul>
	<% @kittens.each do |kitten| %>
		<li><%= kitten.name %> - <%= link_to "edit", edit_kitten_path(kitten) %> - <%= link_to "delete", kitten_path(kitten), method: :delete %></li>
	<% end %>
</ul>
